doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // Changing linked bootstrap.css to own hosted bootstrap.css -> Control of own css in case for downtime of bootstrap server, data sovereignty
        // Choosing of a dark theme, suitable for a project called "Deep Space Books"
        style
            include ./styles/bootstrap.css

        block scripts
            script(type="text/javascript")
                include ./js/switchtab.js

    body
        div(class="container")
            block content
                h1 Deep Space Books
                p(class="lead") Welcome #{acceptedUsername}

                nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
                    a(class="navbar-brand" href="#")
                        button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarColor01", aria-controls="navbarColor01", aria-expanded="false", aria-label="Toggle navigation")
                            span(class="navbar-toggler-icon")

                    div(class="collapse navbar-collapse" id="navbarColor01")
                        ul(class="navbar-nav mr-auto")
                            li(class="nav-item active")
                                a(class="nav-link" href="home") Home
                                    span(class="sr-only") (current)

                            li(class="nav-item")
                                a(class="nav-link" href="") My profile (#{acceptedUsername})

                            li(class="nav-item")
                                a(class="nav-link" href="books") All books

                            li(class="nav-item")
                                a(class="nav-link" href="logout") Logout


                        form(method="post", action="keywordSearchBtn", class="form-inline my-2 my-lg-0")
                            input(class="form-control mr-sm-2", type="text", placeholder="Search", name="keywordInput")
                            button(class="btn btn-secondary my-2 my-sm-0", type="submit") Quick Search

                div(class="row")
                    div(class="col-lg-6")
                        if searchError
                            div(class="alert alert-danger" role="alert") #{searchError}

                        div(class="bs-component")
                            ul(class="nav nav-tabs")
                                h2 Search for books
                                div(class="container")
                                    ul(class="nav nav-tabs")
                                        li(class="nav-item", id="keywordSearchID")
                                            a(class="nav-link active", data-toggle="tab", href="#keywordSearch", id="keywordSearchIDA") Keyword Search

                                        li(class="nav-item", id="detailSearchID")
                                            a(class="nav-link", data-toggle="tab", href="#detailSearch", id="detailSearchIDA") Detail Search


                                    div(id="searchTab", class="tab-content", data-toggle="tab")
                                        div(class="tab-pane fade active show", id="keywordSearch")
                                            form(method="post", action="keywordSearchBtn")
                                                div(class="form-group")
                                                    label Keyword
                                                    input(type="text", class="form-control", id="keywordInput", name="keywordInput", aria-describedby="usernameHelp", placeholder="Enter keyword")
                                                    small(id="keywordHelp", class="form-text text-muted") Please enter a keyword (Name, Author, Co Author, ISBN) for a book you are looking for

                                                div(class="form-group")
                                                    button(type="submit", class="btn btn-info btn-lg btn-block") Search!

                                        div(class="tab-pane fade", id="detailSearch")
                                            form(method="post", action="detailSearchBtn")
                                                div(class="form-group")
                                                    label Title
                                                    input(type="text", class="form-control", id="detailTitle", name="detailTitle", aria-describedby="titleHelp", placeholder="Enter title")
                                                    small(id="titleHelp", class="form-text text-muted") Please enter the title of a book

                                                    div(class="form-group")
                                                        label ISBN
                                                        input(type="text", class="form-control", id="detailISBN", name="detailISBN", aria-describedby="ISBNHelp", placeholder="Enter ISBN")
                                                        small(id="ISBNHelp", class="form-text text-muted") Please enter the ISBN of a book

                                                    div(class="form-group")
                                                        label Author
                                                        input(type="text", class="form-control", id="detailAuthor", name="detailAuthor", aria-describedby="authorHelp", placeholder="Enter author")
                                                        small(id="authorHelp", class="form-text text-muted") Please enter the author of a book

                                                div(class="form-group")
                                                    button(type="submit", class="btn btn-info btn-lg btn-block") Search!
