extends layout.pug

block content
  h1 Welcome at Deep Space Books!

  p(class="lead") The world's deepest book review place!

  div(class="row")
    div(class="col-lg-6")
      div(class="bs-component")
        p(class="lead") New here? You can register! Our advantages:
        table(class="table table-hover")
          thead
            tr(class="table-primary")
              th(scope="col") Your local book community: Meet other book lovers

            tr(class="table-info")
              th(scope="col") Find and review books in high speed

            tr(class="table-secondary")
              th(scope="col") Elegant and modern interfaces

            tr(class="table-primary")
              th(scope="col") Big book database

            tr(class="table-info")
              th(scope="col") Helpful reviews

            tr(class="table-secondary")
              th(scope="col") You and your books finally count!

        // Button needs to be in a form for possible action to node.js
        form(method="get", action="registration")
          button(type="submit", class="btn btn-primary btn-lg btn-block") Register Now!

    div(class="col-lg-6")
      div(class="bs-component")
        h2 Already an account?
        p(class="lead") Login here!

          form(method="post", action="loginBtn")
            div(class="form-group")
              label Username
              input(type="username", class="form-control", id="loginUsername", name="loginUsername", aria-describedby="usernameHelp", placeholder="Enter username")
              small(id="usernameHelp", class="form-text text-muted") Please enter your username

            div(class="form-group")
              label Password
              input(type="password", class="form-control", id="loginPassword", name="loginPassword", placeholder="Password")
              small(id="passwordHelp", class="form-text text-muted") Please enter your password

            div(class="form-group")
              button(type="submit", class="btn btn-primary btn-lg btn-block") Log me in!
