doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // Changing linked bootstrap.css to own hosted bootstrap.css -> Control of own css in case for downtime of bootstrap server, data sovereignty
        // Choosing of a dark theme, suitable for a project called "Deep Space Books"
        style
            include ./styles/bootstrap.css



    body
        div(class="container")
            block content
                h1 Deep Space Books
                p(class="lead") Welcome to the logout page of Deep Space Books. Do you really want to go?
                div(class="row")
                    div(class="col-lg-6")
                        div(class="bs-component")
                            div(class="form-group")
                                form(method="post", action="logoutBtn")
                                    button(type="submit", class="btn btn-primary btn-lg btn-block") Let me get out!

                    div(class="col-lg-6")
                        div(class="bs-component")
                            div(class="form-group")
                                form(method="post", action="stayInBtn")
                                    // Two buttons with different colors are more beautiful
                                    button(type="submit", class="btn btn-info btn-lg btn-block") Let me stay in!